<div class = 'row text-center' style = 'padding-top:100px' align = 'center'>
    </div>
<a href="#profile" class="btn btn-default btn-lg btn-block">Your Profile</a><br><%= image_tag "ProfileHeadPicture.png", class: "img-responsive img-circle"%>
    <div class = "profile-info" align = 'center'><h4>Troy Bolton</h4>
      <p>University: East University </p>
      <p>Major: Communications </p>
      <p>Minor: Basketball </p>
      <p>Bio: Ah Suh Dude! ✌️ I love basketball and living life to the fullest. I can also sing and do musical theatre like a boss. My favorite time is summer time. </p>
    </div>

</div>