<div class = 'row text-center' style = 'padding-top:100px'>
  <div align="left"class='col-xs-3'><input class="btn btn-default btn-sm btn-block side-buttons-right" type="Profile" value="Search"><br><form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="Location" class="form-control" id="inputEmail3" placeholder="Location">
    </div>
  </div>
    <b> Profession: </b>
    <select class="form-control">
  <option>Lawyer</option>
  <option>Teacher</option>
  <option>Chef</option>
  <option>Actor/Actress</option>
  <option>Engineer</option>
</select>
<br>
    <div align="center" class="form-group"><b>Interests</b>
    <div align="left" class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Web Design
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Psychology
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Buisness Management
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Graphic Design
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Journalism
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
</form></div>

<div class='col-xs-9' align="left">
  <div align = "left">
  <%= image_tag "HeadshotsHack6.png", class: "img-responsive img-circle search-photos"%>Chad Brazewood<%= image_tag "ViewProfileButton.png", class: "img-responsive img-rounded viewProfileButtonClass"%>
  </div>
</div>