<div class = "signUp-header">
    <h2>We have an excellent network of mentors, we would love to have you join us!</h2>
  </div>

<div class = "col-md-5">
  <div class ="sp-instructions">
    <ol>
      <li><p>Our website connects individuals across the world with mentors that have real world, professional experience. We are constantly growing and always look to add professionals to our network. The first step is to fill out the form on the left and sign up for our service. </p></li>
      <li><p>Next, you can create a profile filled with your career information professional interests. While you can change this at any time, we recommend that you complete this step right after signing up, as it establishes the basis for our mentor and mentee connections.</p></li>
      <li><p>Mentees can now search for mentors through various filters including interests, profession, and location. From here they can reach out to mentors and begin cultivating relationships.<p></li>
    </ol>
  </div>
  <a href="mentor_profiles/new" class="btn btn-dark btn-side">Mentor Sign Up</a>
  <a href="#mentee" class="btn btn-dark btn-side">Mentee Sign Up</a>
</div>