<p id="notice"><%= notice %></p>
<p>
<h1>Years of experience</h1>
<%= @mentor_profile.yearsofexperience %>
</p>

<%= link_to 'Edit', edit_mentor_profile_path(@mentor_profile) %> |
<%= link_to 'Back', mentor_profiles_path %>
