// Place all the styles related to the MentorProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice{
  padding-top: 100px;
}

.color-back{
    background-color: #00b386;
}
.form-inputs{
  width: 80%;
  margin: 0 auto;
  padding: 10%;
  padding-bottom: 0;
}

h1{
  text-align: center;
  padding: 30px;
}
span {
  padding:10px;
}

.form-actions{
  margin: 0 auto;
  padding: 0 0 10% 0;
}
